@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-900 text-gray-200;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0px);
	}
}

.floating {
	animation: float 3s ease-in-out infinite;
}
